* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.wrapper {
    width: 1170px;
    margin: auto;
}

header {
    background: url(images/Tour\ _88.jpg);
    height: 75vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.nav-area {
    float: right;
    list-style: none;
    margin-top: 30px;
}

.nav-area li {
    display: inline-block;
}

.nav-area li a {
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 50px;
}

.nav-area li a:hover {
    background: black;
    color: orange;
}

.logo {
    float: left;
}

.logo img {
    width: 20%;
    padding: 15px 0;
}

.welcome-text {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcome-text h1 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    outline: 100px;
    outline-style: inherit;
    outline-color: black;
    font-family: alfa slab one;
}

.welcome-text p {
    text-align: center;
    color: white;
    text-transform: Titlecase;
    font-size: 20px;
    font-family: poppins;
}

.welcome-text a {
    border: 1px solid white;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: white;
    font-weight: 900;
}

.welcome-text a:hover {
    background: orange;
    color: white;
}

section#events h2 {
    margin-top: 100px;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    outline: 100px;
    outline-style: inherit;
}

.wrapper1 {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.box-area {
    width: 250px;
    height: 250px;
    margin: 25px;
    padding: 40px;
    background-color: #f5f5f5;
    transition: all 0.6s ease-in-out;
}

.box-area2 {
    width: 250px;
    height: 250px;
    margin: 25px;
    padding: 40px;
    background-color: #f5f5f5;
    transition: all 0.6s ease-in-out;
}

.box-area3 {
    width: 250px;
    height: 250px;
    margin: 25px;
    padding: 40px;
    background-color: #f5f5f5;
    transition: all 0.6s ease-in-out;
}

.box-area h6 {
    margin-bottom: 10px;
    color: #262626;
    font-size: 50px;
    font-family: bebas neue;
}

.box-area2 h6 {
    margin-bottom: 10px;
    color: #262626;
    font-size: 50px;
    font-family: bebas neue;
}

.box-area3 h6 {
    margin-bottom: 10px;
    color: #262626;
    font-size: 50px;
    font-family: bebas neue;
}

.box-area3 h6 b {
    margin-bottom: 10px;
    color: #262626;
    font-size: 25px;
    font-family: bebas neue;
}

.box-area:hover {
    background-color: orange;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.3);
}

.box-area2:hover {
    background-color: orange;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.3);
}

.box-area3:hover {
    background-color: orange;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.3);
}

.box-area:hover i {
    color: #fff;
}

.box-area:hover h6 {
    color: #fff;
}

.box-area:hover p {
    color: #fff;
}

section#past-events h2 {
    margin-bottom: 10px;
    text-align: center;
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 25px;
    outline: 100px;
    outline-style: inherit;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  

section#about {
    padding: 20px;
    text-align: center;
}


section#contact {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}

/*resposive*/

@media (max-width:600px) {
    .wrapper {
        width: 100%;
    }

    .logo {
        float: none;
        width: 20%;
        text-align: center;
        margin: auto;
    }

    .nav-area {
        float: none;
        margin-top: 0;
    }

    .nav-area li a {
        padding: 5px;
        font-size: 11px;
    }

    .nav-area {
        text-align: center;
    }

    .welcome-text h1 {
        font-size: 30px;
    }
}